.attention {
  .main-title {
    margin-top: 0px;
    /*margin-left: -45px;*/
  }
}


.attention-text {
  p {
    font-size: 14px;
    line-height: 20px;
    color: $black;
    margin-bottom: 20px;
  }
}