.main-title {
  font-size: 20px;
  line-height: 22px;
  color: $black;
  @include open-sans(bold);
  margin-bottom: 30px;
}

.main-content {
  @include clearfix;
  /*margin-bottom: 30px;*/
  margin: 0 auto;
}

.content-wrapper {
  margin: 0 auto;
}

.content {
  float: right;
  width: 743px;
  margin-right: 48px;
}