.attention {
  margin-top: -30px !important;

  .attention-text {
    margin-top: -9px !important;
    margin-left: -48px !important;
  }


}


.footer {
  min-width: 1105px;
  padding-left: 78px;
  padding-right: 78px;
  background: url("../img/bg/footer_bg.png") repeat-x;
}

.footer__top {
  padding-top: 33px;
  padding-right: 15px;
}

.footer__left {
  width: 45%;
  float: left;
  padding-top: 34px;
  margin-left: -8px;
}

.footer__right {
  width: 55%;
  float: left;
  text-align: right;
  margin-top: 21px;
  margin-left: -54px;
}

.logo__footer {
  .logo-img {
    max-width: 225px;
  }
}




.footer {


  .container {
    min-width: 1160px;
    margin-top: 4px;
  }

  .socials__link {
    width: 45px;
    height: 45px;
    background: $white;
    display: block;
    color: transparent;
  }

  .socials__footer {
    margin-left: 26px;
  }

  $dark-socials-map: sprite-map('icons/socials2/*.png', $spacing: 70px);
  $items: fb, vk, tw;
  @each $item in $items {
    .socials__item_#{$item} {
      .socials__link {
        &:after {

          @include get-sprite($dark-socials-map, $item);
          content: '';
          @include absolute-center;
        }

        &:hover {
          &:after {
            $icon-name: $item + '-hover';
            @include get-sprite($dark-socials-map, $icon-name);
          }
        }


      }
    }
  }

}

.footer__nav-item {
  @include inlineblock();
  margin-left: 33px;
  margin-bottom: 15px;
}

.footer__nav-link {
  font-size: 14px;
  line-height: 16px;
  color: $white;

  &:hover {
    text-decoration: none;
  }

}

.footer__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #494949;
  text-align: center;
  color: $white;
  font-size: 12px;
  line-height: 14px;
}

.footer__copyright {
  padding: 6px 0;
}