.pagination {
  text-align: right;
  @include inlineblock;
}

.pagination-item {
  width: 26px;
  height: 26px;
  @include inlineblock;
  @include border-radius(3px);
  border: 1px solid $grey;
  position: relative;
  overflow: hidden;
}

.pagination-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: $white;
}