@import "compass";

/* --------- normalize --------- */

@import "_misc/normalize";

/* --------- mixins --------- */

@import "_misc/mixins";

/* --------- fonts --------- */

@import "_misc/fonts";


/* --------- adjustment --------- */

@import "_misc/adjustment";


/* --------- miscellaneous icons --------- */

$misc-sprite: sprite-map('icons/_misc/*.png', $spacing: 70px);

/* --------- common colors --------- */

$black: #000000;
$white: #ffffff;
$orange: #ff6600;
$grey: #dee1e4;

/* --------- plugins --------- */

@import "_plugins/**/*";

/* ---------- widgets --------- */

@import "_widgets/**/*";

/* --------- sections --------- */

@import "_sections/**/*";

