extends ../main

block title
	| Главная страница (main.psd)

block content
	article.content-wrapper
		.container
			.main-title
				| Мобильные телефоны
			.main-content

				include ../_common/_sidebar

				.content
					.sort
						.sort__left
							.sort__select-wrap
								.sort__title
									| Сортировать по
								.sort__select
									select.sort__select-elem
										- var options = ["по цене", "по популярности"]
										each option in options
											option(value="")= option
						.sort__right
							.sort__title
								| Вид каталога
							.sort__view
								ul.sort__view-list
									- var items = ["rows", "grids", "lines"]
									each item in items
										li(class="sort__view sort__view_" + item data-view= item)
											a(href="#").sort__view-link
												.sort__view-icon



					.products
						ul.products__list
							- for (var i = 0; i < 9; i++)
								li.products__item
									.products__item-inner
										.products__left
											.products__slideshow
												.products__slideshow-block
													a(href="#").products__slideshow-display
														img(src="http://lorempixel.com/134/134/technics/6" alt="prod").products__slideshow-img
													ul.products__slideshow-thumbs
														- for (var j = 0; j < 3; j++)
															li.products__slideshow-item
																a(href="#").products__slideshow-link
																	img(src="http://lorempixel.com/45/45/technics/6" alt="prod").products__slideshow-thumb-img
												.products__article
													.products__article-word Артикул
													.products__article-num 189358
											.products__desc
												.products__desc-title Samsung GT-I9301I GALAXY S3
												ul.products__desc-options
													- var options = {"Тип SIM-карты": "Micro-SIM", "Количество SIM-карт": "1","Цвет": "Белый", "ОC": "Android", "Связь 3G": "Есть", "4G (LTE)": "Нет", "GPS-модуль": "Есть" }
													each value, key in options
														li.products__option-key= key
														li.products__option-value= value
												.products__rating
													ul.products__rating-stars
														li.products__rating-stars-item.products__rating-stars-item_filled
														li.products__rating-stars-item.products__rating-stars-item_filled
														li.products__rating-stars-item.products__rating-stars-item_filled
														li.products__rating-stars-item
														li.products__rating-stars-item
													.products__rating-amount 3
										.products__right
											.products__info
												.products__price 11 290
													i.rub
											.products__info-bottom
												a(href="#").products__buy-btn В корзину
												.products__avaliability
													| В наличии
					.pagination
						ul.pagination__list
							li.pagination__item.pagination__item_prev
								a(href="#").pagination__link
									.pagination__mark
							- for (var i = 1; i < 4; i++)
								li.pagination__item
									a(href="#").pagination__link
										.pagination__mark= i
							li.pagination__item.pagination__item_next
								a(href="#").pagination__link
									.pagination__mark

			.attention
				.main-title
					| Важная информация
				.attention-text
					p Повседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Таким образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития.
					p Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким образом сложившаяся структура организации требуют определения и уточнения направлений прогрессивного развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
					p Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации. С другой стороны сложившаяся структура организации позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
					p Повседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Таким образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития.
					p Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким образом сложившаяся структура организации требуют определения и уточнения направлений прогрессивного развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
					p Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации. С другой стороны сложившаяся
